
.Nav_container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin: auto;
    padding: 0;
    max-width: 70rem;
  }
.nav_list {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav_logo_container {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}
.nav_list_item {
    margin-left: 1rem;
    font-size: 1.1rem;
    cursor: pointer;
}